.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.operator {
  background-color: blue;
}

.all-clear {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}

.decimel {
  background-color: gray;
}

.equals {
  background-color: green;
  grid-column: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
