@import url('https://fonts.googleapis.com/css?family=Digital&display=swap');

.display {
  font-family: 'Digital', monospace;
  font-size: 1.4rem;
  margin: 10px auto 0 auto;
  width: 90%;
  max-width: 100vw;
  min-height: 60px;
  background-color: rgb(85, 92, 97);
}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.result {
  padding-right: 5px;
  color: rgb(255, 225, 0);
}

.input {
  padding-right: 5px;
}
