body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 95vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 10px rgb(230, 185, 6) solid;
  border-radius: 15px;
}
